:root {

    /** title font style */
    --title-font: 'Gloock';

    /** theme font style */
    --theme-font: 'Poppins';
    --highlight-weight: bold;
    --heighlight-size: 24px;

    /** theme color */
    --theme-background-color: #ede4e0;
    --theme-color: rgb(165, 105, 71);
    --theme-hover: rgb(248, 217, 199);
    --theme-shadow: rgba(0, 0, 0, 0.684);
    --theme-font-color: rgb(205, 204, 204);
    --theme-button-color: rgb(238, 238, 238);
    --theme-details-color: rgb(95, 57, 35);

}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* font-family: Arial, sans-serif; */
}

.image-container {
    width: 70%;

    background-image: url('images/Ceramica_de_la_campina_de_moche-LA_LIBERTAD-Alex_Bryce-PROMPERU_1024x1024.webp');
    background-size: cover;
    background-position: center;
}

.form-container {
    width: 30%;
    height: 100%;
    background-color: #F4F1ED;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
}

form {
    width: 80%;
    display: inline-block;
    text-align: left;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;

}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #D4B0B5;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #623E2A;
}

.h1 {
    font-family: var(--title-font);
    color: var(--theme-color);
    font-size : 30px;
}

.label-text {
    font-family: var(--theme-font);
    /* color: #623E2A; */
}

.Title {
    padding-bottom: 10px;
    justify-content: start
}
